<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hoodbluck.authum" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <permission android:name="com.hoodbluck.authum.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="com.hoodbluck.authum.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.initialActivity_"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.RegisterActivity_"
            android:label="Registration"/>
        <activity android:name=".activities.LoginActivity_"
                  android:label="Login"/>
        <activity android:name=".activities.PatternRegistrationActivity_"
                  android:label="Set Up Pattern"/>
        <activity android:name=".activities.ConfirmAuthumPatterActivity_"
                  android:label="Confirm Pattern"/>

        <receiver
            android:name=".gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </receiver>
        <service
            android:name=".gcm.GcmIntentService_"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <provider android:name=".provider.EmailProvider_"
                  android:authorities="com.hoodbluck.authum.provider"
                    android:exported="true">
        </provider>

    </application>

</manifest>
